.text{
    font-size: 1.2vw;
    margin-top: 10%;
}

.close-button{
    margin-left: 60%;
    margin-top: 15%;
    width: 40%;
    border-radius: 25px;
    background-color: #035efc;
    color: white;
}