:host {
  display: flex;
}

.header-container {
  width: 100%;
  height: 50px;
  background: linear-gradient(0deg,darkblue,blue);
  display: flex;
}

.header-logo {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: auto;
  cursor: pointer;
}

.link {
  margin: auto 0 auto 0;
}

.header-button {
  height: 100%;
  display: flex;
  padding-left: 10px;
  cursor: pointer;
  margin-right: 10px;
  color: #fff;
  border-left: 1px solid #fff;
}

.header-button span {
  margin: auto 0;
}
