<body>

    <div class="title-section">
        <div class="title">
            Leadership for beginners
        </div>
        <div class="subtitle">
            How to manage culture and knowledge in dynamic organizations
        </div>
        <button mat-raised-button class="change-button" (click)="register()">Register</button>
    </div>

    <div class="form-section">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <h2>Hello !</h2>
        
            <mat-form-field class="field">
                <mat-label>email</mat-label>
                <input matInput type="email" pattern=".+@+.+\.com" placeholder="name@example.com" formControlName="email"
                    required>
                <mat-error *ngIf="form.controls['email'].touched">Email is required</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="field">
                <mat-label>password</mat-label>
                <input matInput type="password" formControlName="password"  required>
                <mat-error *ngIf="form.controls['email'].touched">Password is required</mat-error>
            </mat-form-field>
            <br>
            <button [disabled]="form.status !== 'VALID'" type="submit" mat-raised-button
                class="login-button">Login</button>
        </form>
    </div>
    

</body>
